<div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Página en Construcción</h5>
                <p class="card-text">La siguiente pagina estara disponible proximamente.</p>
            </div>
            <img src="/static/img/underconstruction.png" class="card-img-bottom rounded" alt="Imagen">
        </div>
</div>