<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <h3 class="mb-4">Iniciar sesión</h3>
        <form action="" method="post">

            <div class="form-group mb-1">
                <div class="input-group">
                    <span class="input-group-text bg-dark text-light">
                        <i class="bi bi-person"></i>
                    </span>
                    <input name="email" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group mb-2">
                <div class="input-group">
                    <span class="input-group-text bg-dark text-light">
                        <i class="bi bi-lock"></i>
                    </span>
                    <input name="password" class="form-control" type="password">
                </div>
            </div>

            <div class="form-group mb-1">
                <span>Crea una cuenta! <a href="/signup" class="text-info">Registrate</a></span>
            </div>

            <div class="form-group mb-1">
                <span>Ingresa con <a href="/github" class="text-info">GitHub!</a></span>
            </div>

            <div class="form-group mb-2">
                <span><a href="/resetpassword" class="text-info">Olvidaste tu contraseña?</a></span>
            </div>

            {{#if message}}
            <div class="form-group">
                <div class="input-group">
                    <span class="text-danger">{{message}}</span>
                </div>
            </div>
            {{/if}}

            <button class="btn btn-dark">Login</button>
        </form>
    </div>
</div>