<div class="container mt-5">
    <h3 class="mb-4">Recuperar contraseña</h3>
    <form action="" method="post">
        <div class="form-group mb-2">
            <label for="email">Ingresa tu correo electronico:</label>
            <input class="form-control w-50" "email" name="email" id="email" required>
        </div>
        <button type="submit" class="btn btn-dark">Enviar</button>
    </form>
</div>

