body {
    font-family: 'Outfit', sans-serif;;
}

.box-shadow {
    box-shadow: 
        rgba(46, 91, 240, 0.4) 5px 5px, 
        rgba(46, 91, 240, 0.3) 10px 10px,
        rgba(46, 91, 240, 0.2) 15px 15px, 
        rgba(46, 91, 240, 0.1) 20px 20px, 
        rgba(46, 91, 240, 0.05) 25px 25px;
}

.text-animation{
    animation: pestañar 3s ease-in-out infinite;
}

.card-img-custom {
    min-height: 340px;
    max-height: 380px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.roller{
    height: 4rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden;
    border-bottom: 2px rgba(46, 91, 240, 0.4) solid;
    width: 50%;
}

.rolltext {
    top: 0;
    position: absolute;
    animation: slide 10s infinite;  
}

.msg-animation {
    transition: 300ms ease-in-out;
}
.msg-animation:hover {
    transform: scale(1.1) rotate(15deg);
}

.message {
    width: fit-content;
}

@keyframes slide {
    0%{
        top: 0;
        color: #9cd3d3;
    }
    15%{
        top: -5rem;
        color: #e8630a; 
    }
    30%{
        top: -12rem;
        color: #2b4353; 
    }
    45%{
        top: -17rem;
        color: #9cd3d3; 
    }
    60%{
        top: -23rem;
        color: #e8630a; 
    }
    75%{
        top: -32rem;
        color: #2b4353; 
    }
    90%{
        top: 0;
        color: #9cd3d3; 
    }
}

@keyframes pestañar{
    0% {
		opacity: 1;
        color: rgb(129, 155, 238);
	}

	50% {
		opacity: 0.2;
        color: rgba(129, 155, 238, 0.692);
	}

	100% {
		opacity: 1;
        color: rgb(129, 155, 238);
	}
}


